.control-panel__container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 5px;
    background: #efefef;
}

.control-panel__inner-buttons-panel,
.control-panel__inner-buttons-panel__turn-buttons-container{
    padding: 5px;
    background: #bbbaba;
}

.control-panel__inner-buttons-panel__turn-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50%;
}

.control-panel__inner-buttons-panel__turn-buttons-container__row {
    display: flex;
    flex-direction: row;
}

.control-panel__inner-buttons-panel__turn-buttons-container__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.control-panel__inner-buttons-panel__turn-button__left,
.control-panel__inner-buttons-panel__turn-button__right,
.control-panel__inner-buttons-panel__turn-button__up,
.control-panel__inner-buttons-panel__turn-button__down {
    width: 40px;
    height: 40px;
    background: #434350;
    outline: none;
    cursor: pointer;
}

.control-panel__inner-buttons-panel__turn-button__left {
    margin-right: 16px;
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
}

.control-panel__inner-buttons-panel__turn-button__right {
    border-radius: 70% 30% 30% 70% / 50% 50% 50% 50%;
}

.control-panel__inner-buttons-panel__turn-button__up {
    margin-bottom: -10px;
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

.control-panel__inner-buttons-panel__turn-button__down {
    margin-top: -10px;
    border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
}

.control-panel__checkbox-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.control-panel__checkbox {
    margin-right: 10px
}

.control-panel__inner-buttons-panel__stretch-buttons-row {
    margin: 5px 0;
}

.border {
    height: 1px;
    width: 100%;
    background: #b1b0b0;
    margin-top: 10px;
    margin-bottom: 15px;
}

.title {
    margin: 5px;
    font-size: 23px;
}

.control-panel__z-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.control-panel__z-button-left,
.control-panel__z-button-right {
    width: 20px;
    height: 20px;
    border: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
}

.control-panel__z-button-left:active,
.control-panel__z-button-right:active {
    border: 1px solid gray;
    border-radius: 3px;
}

.control-panel__z-button-right {
    transform: scaleX(-1);
}

.control-panel__input-container {
    margin: 5px 0;
}

.control-panel__input {
    margin-left: 10px;
    width: 50px;
}
